<section class="home-news">
    <div class="home-news__container container">
        <div class="home-news__title">
            <h2>Новости</h2>
            <a href="news.html" class="more">
                Все новости
                <svg width="19" height="25" viewBox="0 0 19 25">
                    <use xlink:href="img/sprite.svg#link-arrow-icon"></use>
                </svg>
            </a>
        </div>
        <div class="home-news__grid">
            @@include('../../uikit/NewsItem/_index.html')
            @@include('../../uikit/NewsItem/_index.html')
            @@include('../../uikit/NewsItem/_index.html')
            @@include('../../uikit/NewsItem/_index.html')
        </div>
    </div>
</section>