.home-news {
    width: 100%;
    padding: 40px 20px;

    .home-news__container {
        .home-news__title {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 32px;
            @media(max-width: $md5) {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                margin-bottom: 24px;
            }
			h2 { 
                color: var(--Black-text, #22120A);
                font-family: Oswald;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                @media(max-width: $md4) {
                    font-size: 24px;
                    margin-bottom: 10px;
                }
			}
        }

        .home-news__grid {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 24px 40px;
            @media(max-width: $md1) {
                gap: 20px;
            }
            @media(max-width: $md4) {
                grid-template-columns: repeat(1, 1fr);
            }
            .news-item { 
                @media(max-width: $md2) {
                    flex-direction: column;
                }
                .news-item__img {
                    max-width: 100%;
                }
            }
        }
    }
}