<section class="about">
  <div class="about__container container">
    <div class="about__title">
      <h2>О библиотеке</h2>
    </div>
    <div class="about__content">
      <div class="about__content-text">
        <p>Ивановская областная научная библиотека — ваш надёжный навигатор в мире знаний и культуры. Откройте для себя богатейшие фонды: от редких изданий до современных бестселлеров, охватывающие все области знаний.</p>
        <p>Погрузитесь в увлекательный мир краеведения и узнайте больше об истории Ивановской области. Воспользуйтесь бесплатным доступом к электронным ресурсам, включая научные базы данных и онлайн-библиотеки, из любой точки мира.</p>
        <p>Посетите мероприятия библиотеки: выставки, лекции, конференции и мастер-классы, посвящённые литературе, искусству и науке.Используйте возможности виртуального читального зала для удобного поиска и заказа литературы онлайн. Найдите ответы на любые вопросы у квалифицированных библиотекарей, которые всегда готовы помочь.</p>
        <a href="" class="button">Подробнее</a>
        <div class="qr-block">
          <div class="qr-block__img">
            <img src="/img/qrblock.png" alt="qr-block-img" />
          </div>
          <div class="qr-block__text">
            <p>
              Чтобы оценить условия предоставления услуг используйте QR-код
              или перейдите по ссылке ниже: <br />
              <a href="">https://bus.gov.ru/qrcode/rate/301241</a><br />
              Амурская область, с. Ивановка, ул. Ленина, 164
            </p>
          </div>
        </div>
      </div>
      <div class="about__content-img">
        @@include('../../uikit/SwiperGallery/_index.html')
      </div>
    </div>
  </div>
</section>
