<section class="main">
    <img src="img/mainbg.png" alt="" class="main__bg">
    <div class="main__container container">
        <div class="main__text">
            <h1 class="color color-white">Panorama</h1>
            <p class="description color color-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic</p>
        </div>
        @@include('../../uikit/SearchForm/_index.html')
    </div>
</section>