.search-result { 
    width: 100%;
    padding: 32px 20px 40px;
    .search-result__container { 
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
        @media(max-width: $md3) {
            flex-direction: column-reverse;
            gap: 32px;
        }
        .search-result__content { 
            width: 100%;
            max-width: 1128px;
            h1 {
                color: var(--Black-text, #22120A);
                font-family: Oswald;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 34px;
            }
            .search-result__list { 
                display: flex;
                flex-direction: column;
                gap: 24px;
                margin-bottom: 32px;
            }
        }
    }
}
