<section class="how-to-join">
    <div class="how-to-join__container container">
        <div class="how-to-join__content">
            <h1>Как записаться в библиотеку?</h1>
            <div class="how-to-join__map">
                <iframe src="https://yandex.com/map-widget/v1/?ll=128.004978%2C50.364317&mode=whatshere&whatshere%5Bpoint%5D=128.004978%2C50.364317&whatshere%5Bzoom%5D=17&z=16"></iframe>
            </div>
            <div class="how-to-join__item">
                <h3>Где записаться</h3>
                <p>676930 Амурская область, Ивановский муниципальный округ, с. Ивановка, ул. Ленина, 164.</p>
            </div>
            <div class="how-to-join__item">
                <h3>График работы</h3>
                <ul>
                    <li><p>понедельник-пятница с 09:00–17:00.</p></li>
                    <li><p>суббота, воскресенье с 10:00–17:00.</p></li>
                    <li><p>последняя среда месяца — санитарный день</p></li>
                </ul>
            </div>
            <div class="how-to-join__item">
                <h3>Читательский билет</h3>
                <p>Читателем библиотеки может стать каждый гражданин Российской Федерации или другого государства с 14 лет.</p>
            </div>
            <div class="how-to-join__item">
                <h4>С читательским билетом вы можете:</h4>
                <ul>
                    <li>
                        <p>Брать книги на дом;</p>
                    </li>
                    <li>
                        <p>Работать с изданиями в читальном зале;</p>
                    </li>
                    <li>
                        <p>Пользоваться электронными ресурсами;</p>
                    </li>
                    <li>
                        <p>Работать за компьютерами в читальном зале;</p>
                    </li>
                    <li>
                        <p>Пользоваться Wi-Fi.</p>
                    </li>
                </ul>
            </div>
            <div class="how-to-join__item">
                <h4>Порядок выдачи документов:</h4>
                <ul>
                    <li>
                        <p>На дом можно получить не более 5 книг и иных материалов на срок до 30 дней для взрослых и 15 дней для детей;</p>
                    </li>
                    <li>
                        <p>Срок пользования документами можно продлить, если на них нет спроса другими читателями (через форму на сайте, лично, по телефону или в письменном виде, но не более 2 раз);</p>
                    </li>
                    <li>
                        <p>При нарушении срока возврата документов по истечении месяца со дня записи их в читательский формуляр взимается пеня в установленном порядке;</p>
                    </li>
                    <li>
                        <p>В случае утери электронного читательского билета, восстановление документа стоит 150 рублей;</p>
                    </li>
                    <li>
                        <p>При несвоевременном возврате книг необходимо вернуть их в течение 7 календарных дней, иначе будет ограничена выдача новых изданий и начислена компенсация в размере 1 руб/сутки.</p>
                    </li>
                </ul>
            </div>
            <div class="how-to-join__item">
                <h4>Что вы можете сделать даже без читательского билета:</h4>
                <ul>
                    <li>
                        <p>Найти нужную вам литературу;</p>
                    </li>
                    <li>
                        <p>Электронный каталог;</p>
                    </li>
                    <li>
                        <p>Электронная библиотека;</p>
                    </li>
                    <li>
                        <p>Попасть на интересное событие;</p>
                    </li>
                    <li>
                        <p>Почти каждый день в библиотеке происходит что‑то интересное.</p>
                    </li>
                </ul>
            </div>
            <div class="how-to-join__item">
                <h4>Узнать о мероприятия можно тремя способами: </h4>
                <ul>
                    <li>
                        <p>Посмотреть афишу в календаре;</p>
                    </li>
                    <li>
                        <p>Подружиться с нами в соцсетях;</p>
                    </li>
                    <li>
                        <p>Подписаться на нашу рассылку.</p>
                    </li>
                </ul>
            </div>
            <div class="how-to-join__item">
                <h3>Необходимые документы</h3>
                <ul>
                    <li>
                        <p>Граждане РФ (нужен паспорт);</p>
                    </li>
                    <li>
                        <p>Граждане иностранных государств (нужен паспорт или справка, подтверждающая личность);</p>
                    </li>
                    <li>
                        <p>Дети до 14 лет могут записаться в присутствии родителей, опекунов или попечителей.</p>
                    </li>
                </ul>
            </div>
            <div class="how-to-join__item">
                <h3>Записаться удалённо</h3>
                <ul>
                    <li>
                        <p>Услуга удалённой записи предоставляется гражданам Российской Федерации*;</p>
                    </li>
                    <li>
                        <p>* В соответствии с Порядком удалённой записи в Центральную библиотеку "Интеллект";</p>
                    </li>
                    <li>
                        <p>Оформление и выдача электронного читательского билета бесплатны;</p>
                    </li>
                    <li>
                        <p>Требуется наличие подтверждённой учётной записи на портале «Госуслуги»;</p>
                    </li>
                    <li>
                        <p>Для получения электронного читательского билета необходимо:</p>
                    </li>
                    <li>
                        <p>Зарегистрироваться на сайте в Личном кабинете пользователя;</p>
                    </li>
                    <li>
                        <p>Авторизоваться на портале «Госуслуги» с использованием подтверждённой учётной записи;</p>
                    </li>
                    <li>
                        <p>Согласиться с предоставлением информации в Личном кабинете пользователя;</p>
                    </li>
                    <li>
                        <p>Получить подтверждение об успешном окончании процедуры.</p>
                    </li>
                </ul>
            </div>
        </div>
        @@include('../LiberyToday/_index.html',{})
    </div>
</section>