<section class="event-gallery">
  <div class="event-gallery__container container">
    <h2>Фото с мероприятий</h2>
    <div class="event-gallery__swiper">
      <div class="swiper default-swiper">
        <button class="slideprev">
          <svg width="32" height="32" viewBox="0 0 32 32">
            <use href="/img/sprite.svg#prev-icon"></use>
          </svg>
        </button>
        <button class="slidenext">
          <svg width="32" height="32" viewBox="0 0 32 32">
            <use href="/img/sprite.svg#next-icon"></use>
          </svg>
        </button>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="/img/swiper-bigimg.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/img/swiper-bigimg.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/img/swiper-bigimg.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/img/swiper-bigimg.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/img/swiper-bigimg.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/img/swiper-bigimg.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/img/swiper-bigimg.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/img/swiper-bigimg.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/img/swiper-bigimg.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/img/swiper-bigimg.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/img/swiper-bigimg.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/img/swiper-bigimg.png" alt="" />
          </div>
        </div>
      </div>
      <div class="swiper swiper-thumbs ">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="/img/about-img.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/img/about-img2.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/img/about-img3.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/img/about-img4.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/img/about-img.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/img/about-img2.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/img/about-img3.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/img/about-img4.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/img/about-img.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/img/about-img2.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/img/about-img3.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/img/about-img4.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <p>
      08.04.2025 г. В рамках этого праздника в библиотеке «Интеллект» прошла
      литературная игра «Путешествие в страну здоровья» для 4-х классов.
    </p>
  </div>
</section>
