<section class="contacts bg bg-midnight-teal">
    <div class="contacts__top">
        <div class="contacts__container container">
            <div class="section-title">
                <h2 class="color color-white">Контакты</h2>
            </div>
            <div class="flex">
                @@include("../../uikit/ContactLinks/_index.html",{})
                @@include("../../uikit/CallbackForm/_index.html",{})
            </div>
        </div>
    </div>
    <div class="contacts__map">
        <div class="map">
            <iframe src="https://yandex.com/map-widget/v1/?ll=34.403050%2C44.653473&mode=whatshere&whatshere%5Bpoint%5D=34.403050%2C44.653473&whatshere%5Bzoom%5D=17&z=16"></iframe>
        </div>
    </div>
</section>