<section class="books-swiper">
    <div class="books-swiper__container container">
        <div class="books-swiper__title">
            <h2>@@title</h2>
            <a href="" class="more">
                Подробнее
                <svg width="19" height="25" viewBox="0 0 19 25">
                    <use xlink:href="/img/sprite.svg#link-arrow-icon"></use>
                </svg>
            </a>
        </div>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><div class="book-item">
    <div class="book-item__img">
        <img src="/img/book-item-img.png" alt="book-item">
        <span class="tag">Хит</span>
        <div class="book-details-link">
            <a href="" class="button">Стать читателем</a>
        </div>
    </div>
    <div class="book-item__info">
        <h4><a href="">Вера Гамаюн «Петербургские сказки»</a></h4>
    </div>
</div></div>
                <div class="swiper-slide"><div class="book-item">
    <div class="book-item__img">
        <img src="/img/book-item-img.png" alt="book-item">
        <span class="tag">Хит</span>
        <div class="book-details-link">
            <a href="" class="button">Стать читателем</a>
        </div>
    </div>
    <div class="book-item__info">
        <h4><a href="">Вера Гамаюн «Петербургские сказки»</a></h4>
    </div>
</div></div>
                <div class="swiper-slide"><div class="book-item">
    <div class="book-item__img">
        <img src="/img/book-item-img.png" alt="book-item">
        <span class="tag">Хит</span>
        <div class="book-details-link">
            <a href="" class="button">Стать читателем</a>
        </div>
    </div>
    <div class="book-item__info">
        <h4><a href="">Вера Гамаюн «Петербургские сказки»</a></h4>
    </div>
</div></div>
                <div class="swiper-slide"><div class="book-item">
    <div class="book-item__img">
        <img src="/img/book-item-img.png" alt="book-item">
        <span class="tag">Хит</span>
        <div class="book-details-link">
            <a href="" class="button">Стать читателем</a>
        </div>
    </div>
    <div class="book-item__info">
        <h4><a href="">Вера Гамаюн «Петербургские сказки»</a></h4>
    </div>
</div></div>
                <div class="swiper-slide"><div class="book-item">
    <div class="book-item__img">
        <img src="/img/book-item-img.png" alt="book-item">
        <span class="tag">Хит</span>
        <div class="book-details-link">
            <a href="" class="button">Стать читателем</a>
        </div>
    </div>
    <div class="book-item__info">
        <h4><a href="">Вера Гамаюн «Петербургские сказки»</a></h4>
    </div>
</div></div>
                <div class="swiper-slide"><div class="book-item">
    <div class="book-item__img">
        <img src="/img/book-item-img.png" alt="book-item">
        <span class="tag">Хит</span>
        <div class="book-details-link">
            <a href="" class="button">Стать читателем</a>
        </div>
    </div>
    <div class="book-item__info">
        <h4><a href="">Вера Гамаюн «Петербургские сказки»</a></h4>
    </div>
</div></div>
                <div class="swiper-slide"><div class="book-item">
    <div class="book-item__img">
        <img src="/img/book-item-img.png" alt="book-item">
        <span class="tag">Хит</span>
        <div class="book-details-link">
            <a href="" class="button">Стать читателем</a>
        </div>
    </div>
    <div class="book-item__info">
        <h4><a href="">Вера Гамаюн «Петербургские сказки»</a></h4>
    </div>
</div></div>
                <div class="swiper-slide"><div class="book-item">
    <div class="book-item__img">
        <img src="/img/book-item-img.png" alt="book-item">
        <span class="tag">Хит</span>
        <div class="book-details-link">
            <a href="" class="button">Стать читателем</a>
        </div>
    </div>
    <div class="book-item__info">
        <h4><a href="">Вера Гамаюн «Петербургские сказки»</a></h4>
    </div>
</div></div>
                <div class="swiper-slide"><div class="book-item">
    <div class="book-item__img">
        <img src="/img/book-item-img.png" alt="book-item">
        <span class="tag">Хит</span>
        <div class="book-details-link">
            <a href="" class="button">Стать читателем</a>
        </div>
    </div>
    <div class="book-item__info">
        <h4><a href="">Вера Гамаюн «Петербургские сказки»</a></h4>
    </div>
</div></div>
                <div class="swiper-slide"><div class="book-item">
    <div class="book-item__img">
        <img src="/img/book-item-img.png" alt="book-item">
        <span class="tag">Хит</span>
        <div class="book-details-link">
            <a href="" class="button">Стать читателем</a>
        </div>
    </div>
    <div class="book-item__info">
        <h4><a href="">Вера Гамаюн «Петербургские сказки»</a></h4>
    </div>
</div></div>
                <div class="swiper-slide"><div class="book-item">
    <div class="book-item__img">
        <img src="/img/book-item-img.png" alt="book-item">
        <span class="tag">Хит</span>
        <div class="book-details-link">
            <a href="" class="button">Стать читателем</a>
        </div>
    </div>
    <div class="book-item__info">
        <h4><a href="">Вера Гамаюн «Петербургские сказки»</a></h4>
    </div>
</div></div>
            </div>
        </div>
    </div>
</section>