<section class="partners">
    <div class="partners__container container">
        <div class="partners__title">
            <h2>Партнёры</h2>
        </div>
        <div class="partners__swiper">
            <button class="slideprev">
                <svg width="32" height="32" viewBox="0 0 32 32">
                    <use href="/img/sprite.svg#prev-icon"></use>
                </svg>
            </button>
            <button class="slidenext">
                <svg width="32" height="32" viewBox="0 0 32 32">
                    <use href="/img/sprite.svg#next-icon"></use>
                </svg>
            </button>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/img/a8d8c88722b0917_300x0.png" alt=""></div>
                    <div class="swiper-slide"><img src="/img/4be9e1bf9f7f6dd_300x0.png" alt=""></div>
                    <div class="swiper-slide"><img src="/img/25d17688dfe52cb_300x0.png" alt=""></div>
                    <div class="swiper-slide"><img src="/img/3b5c2fc56ae143d_300x0.png" alt=""></div>
                    <div class="swiper-slide"><img src="/img/314d752c4f8105b_300x0.png" alt=""></div>
                    <div class="swiper-slide"><img src="/img/png-klev-club-1po6-p-pravitelstvo-png-2 1.png" alt=""></div>
                    <div class="swiper-slide"><img src="/img/512668ede1d9a19_300x0.png" alt=""></div>
                    <div class="swiper-slide"><img src="/img/bab-bus.png" alt=""></div>
                    <div class="swiper-slide"><img src="/img/president-1080x675 1.png" alt=""></div>
                    <div class="swiper-slide"><img src="/img/a10fa2c06de59af_300x0.png" alt=""></div>
                    <div class="swiper-slide"><img src="/img/a8d8c88722b0917_300x0.png" alt=""></div>
                    <div class="swiper-slide"><img src="/img/4be9e1bf9f7f6dd_300x0.png" alt=""></div>
                    <div class="swiper-slide"><img src="/img/25d17688dfe52cb_300x0.png" alt=""></div>
                    <div class="swiper-slide"><img src="/img/3b5c2fc56ae143d_300x0.png" alt=""></div>
                    <div class="swiper-slide"><img src="/img/314d752c4f8105b_300x0.png" alt=""></div>
                    <div class="swiper-slide"><img src="/img/png-klev-club-1po6-p-pravitelstvo-png-2 1.png" alt=""></div>
                    <div class="swiper-slide"><img src="/img/512668ede1d9a19_300x0.png" alt=""></div>
                    <div class="swiper-slide"><img src="/img/bab-bus.png" alt=""></div>
                    <div class="swiper-slide"><img src="/img/president-1080x675 1.png" alt=""></div>
                    <div class="swiper-slide"><img src="/img/a10fa2c06de59af_300x0.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>