<footer class="footer">
    <div class="footer__container container">
        <div class="footer__top">
            <a href="/" class="logo">
                <img src="/img/logo.svg" alt="">
                <span>Централизованная <br> библиотечная система <br> ивановского округа</span>
            </a>
            <a href="" class="button">Стать читателем</a>
        </div>
        <div class="footer__center">
            <div class="footer__center-item">
                <ul>
                    <li><a href="">О библиотеке</a></li>
                    <li><a href="events.html">Афиша</a></li>
                    <li><a href="news.html">Новости</a></li>
                    <li><a href="">Проекты</a></li>
                    <li><a href="publishing.html">Издательство</a></li>
                </ul>
            </div>
            <div class="footer__center-item">
                <ul>
                    <li><a href="libery-for-children.html">Библиотека детям</a></li>
                    <li><a href="">Краеведение</a></li>
                    <li><a href="">Методическая копилка</a></li>
                    <li><a href="">Конкурсы и игры</a></li>
                </ul>
            </div>
            <div class="footer__center-item">
                <ul>
                    <li><a href="">Партнёры</a></li>
                    <li><a href="">Противодействие коррупции</a></li>
                    <li><a href="">Оценка качества услуг</a></li>
                    <li><a href="">Обратная связь</a></li>
                    <li><a href="">Библиотечные фонды</a></li>
                </ul>
            </div>
            <div class="footer__center-item">
                <ul>
                    <li><span>Режим работы</span></li>
                    <li><span>Пн.- Пт.: с 9:00 - 17:00</span></li>
                    <li><span>Пн.- Пт.: с 9:00 - 17:00</span></li>
                    <li><span>Последняя среда месяца — санитарный день</span></li>
                </ul>
            </div>
            <div class="footer__center-item">
                <ul>
                    <li>
                        <a href="" class="phone">
                            <svg width="24" height="24" viewBox="0 0 24 24">
                                <use href="/img/sprite.svg#white-wp-icon"></use>
                            </svg>
                            +7(996)460-02-06
                        </a>
                    </li>
                    <li><a href="">ivmunlib@mail.ru</a></li>
                    <li><span>Будьте в курсе новостей:</span></li>
                    <li class="soc">
                        <a href="">
                            <svg width="24" height="24" viewBox="0 0 24 24">
                                <use href="/img/sprite.svg#white-vk-icon"></use>
                            </svg>
                        </a>
                        <a href="">
                            <svg width="23" height="24" viewBox="0 0 23 24">
                                <use xlink:href="img/sprite.svg#rutube-icon"></use>
                            </svg>
                        </a>
                        <a href="">
                            <svg width="24" height="24" viewBox="0 0 24 24">
                                <use href="/img/sprite.svg#white-tg-icon"></use>
                            </svg>
                        </a>
                    </li>
                    <li><a href="">Амурская область, с. Ивановка, ул. Ленина, 164</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__bottom">
            <a href="">Политика конфиденциальности</a>
            <div class="stats">
                <span>1349</span>
                <span>786</span>
                <span>708</span>
                <span class="icon">
                    <svg width="21" height="20" viewBox="0 0 21 20">
                        <use href="/img/sprite.svg#arrow-up-right-icon"></use>
                    </svg>
                </span>
            </div>
        </div>
    </div>
</footer>