<section class="projects">
  <div class="projects__container container">
    <div class="projects__title">
      <h2>Проекты</h2>
      <a href="" class="more">
        Подробнее
        <svg width="19" height="25" viewBox="0 0 19 25">
          <use xlink:href="img/sprite.svg#link-arrow-icon"></use>
        </svg>
      </a>
    </div>
    <div class="projects__grid">
      <div class="project-item">
        <div class="project-item__img">
          <img src="img/project-img1.png" alt="project-item-img" />
          <span class="icon">
            <svg width="138" height="138" viewBox="0 0 138 138">
              <use xlink:href="img/sprite.svg#microphone-icon"></use>
            </svg>
          </span>
        </div>
        <div class="project-item__content">
          <h4>
            <a href="">Книга у микрофона</a>
          </h4>
          <a href="" class="more">
            Подробнее
            <svg width="19" height="25" viewBox="0 0 19 25">
              <use xlink:href="/img/sprite.svg#link-arrow-icon"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="project-item">
        <div class="project-item__img">
          <img src="img/project-img2.png" alt="project-item-img" />
          <span class="icon">
            <svg width="138" height="138" viewBox="0 0 138 138">
              <use xlink:href="img/sprite.svg#team-icon"></use>
            </svg>
          </span>
        </div>
        <div class="project-item__content">
          <h4>
            <a href="">«Земляки — наша гордость!»</a>
          </h4>
          <a href="" class="more">
            Подробнее
            <svg width="19" height="25" viewBox="0 0 19 25">
              <use xlink:href="/img/sprite.svg#link-arrow-icon"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="project-item">
        <div class="project-item__img">
          <img src="img/project-img3.png" alt="project-item-img" />
          <span class="icon">
            <svg width="138" height="138" viewBox="0 0 138 138">
              <use xlink:href="img/sprite.svg#linuxcommandlibrary-icon"></use>
            </svg>
          </span>
        </div>
        <div class="project-item__content">
          <h4>
            <a href="">Территория притяжения</a>
          </h4>
          <a href="" class="more">
            Подробнее
            <svg width="19" height="25" viewBox="0 0 19 25">
              <use xlink:href="/img/sprite.svg#link-arrow-icon"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="project-item">
        <div class="project-item__img">
          <img src="img/project-img4.png" alt="project-item-img" />
          <span class="icon">
            <svg width="138" height="138" viewBox="0 0 138 138">
              <use xlink:href="img/sprite.svg#guitar-icon"></use>
            </svg>
          </span>
        </div>
        <div class="project-item__content">
          <h4>
            <a href="">Квартирник «Близкие люди»</a>
          </h4>
          <a href="" class="more">
            Подробнее
            <svg width="19" height="25" viewBox="0 0 19 25">
              <use xlink:href="/img/sprite.svg#link-arrow-icon"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
