<footer class="footer">
    <div class="footer__top bg bg-deep-ocean">
        <div class="footer__container container flex center">
            <a href="/" class="footer__logo">
                <img src="img/logo.svg" alt="logo">
            </a>
            <ul class="menu">
                <li class="menu__item">
                    <a href="#" class="menu__link color color-white">Главная</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link color color-white">Номера</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link color color-white">О нас</a>
                </li>
                <li class="menu__item"> 
                    <a href="#" class="menu__link color color-white">Галерия</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link color color-white">Контакты</a>
                </li>
            </ul>
        </div>
    </div> 
    <div class="footer__bottom bg bg-marine-shadow">
        <div class="footer__container container">
            <p class="footer__copyright color color-white">© 2025. Все права защищены.</p>
        </div>
    </div>
</footer>