<section class="user-info">
    <div class="user-info__container container">
        @@include('../UserMenu/_index.html',{})
        <div class="user-info__content bg bg-midnight-teal">
            <div class="section-title">
                <h1 class="color color-white">Бронирования</h1>
            </div>
            <div class="user-books__content">
                <div class="user-books__item">
                    <p>Дата заезда:
                        <span>12.04.2025</span>
                    </p>
                    <p>Дата выезда: 
                        <span>12.04.2025</span>
                    </p>
                    <p>Номер:
                        <span>Премиум +</span>
                    </p>
                    <p>Взрослые:
                        <span>123</span>
                    </p>
                    <p>Дети:
                        <span>0</span>
                    </p>
                    <p>Цена:
                        <span>123 руб.</span>
                    </p>
                </div>
                <div class="user-books__item">
                    <p>Дата заезда:
                        <span>12.04.2025</span>
                    </p>
                    <p>Дата выезда: 
                        <span>12.04.2025</span>
                    </p>
                    <p>Номер:
                        <span>Премиум +</span>
                    </p>
                    <p>Взрослые:
                        <span>2</span>
                    </p>
                    <p>Дети:
                        <span>0</span>
                    </p>
                    <p>Цена:
                        <span>123 руб.</span>
                    </p>
                </div>
                <div class="user-books__item">
                    <p>Дата заезда:
                        <span>12.04.2025</span>
                    </p>
                    <p>Дата выезда: 
                        <span>12.04.2025</span>
                    </p>
                    <p>Номер:
                        <span>Премиум +</span>
                    </p>
                    <p>Взрослые:
                        <span>2</span>
                    </p>
                    <p>Дети:
                        <span>0</span>
                    </p>
                    <p>Цена:
                        <span>123 руб.</span>
                    </p>
                </div>
                <div class="user-books__item">
                    <p>Дата заезда:
                        <span>12.04.2025</span>
                    </p>
                    <p>Дата выезда: 
                        <span>12.04.2025</span>
                    </p>
                    <p>Номер:
                        <span>Премиум +</span>
                    </p>
                    <p>Взрослые:
                        <span>2</span>
                    </p>
                    <p>Дети:
                        <span>0</span>
                    </p>
                    <p>Цена:
                        <span>123 руб.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>