<section class="books-swiper">
    <div class="books-swiper__container container">
        <div class="books-swiper__title">
            <h2>@@title</h2>
            <a href="" class="more">
                Подробнее
                <svg width="19" height="25" viewBox="0 0 19 25">
                    <use xlink:href="/img/sprite.svg#link-arrow-icon"></use>
                </svg>
            </a>
        </div>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">@@include('../../uikit/BookItem/_index.html')</div>
                <div class="swiper-slide">@@include('../../uikit/BookItem/_index.html')</div>
                <div class="swiper-slide">@@include('../../uikit/BookItem/_index.html')</div>
                <div class="swiper-slide">@@include('../../uikit/BookItem/_index.html')</div>
                <div class="swiper-slide">@@include('../../uikit/BookItem/_index.html')</div>
                <div class="swiper-slide">@@include('../../uikit/BookItem/_index.html')</div>
                <div class="swiper-slide">@@include('../../uikit/BookItem/_index.html')</div>
                <div class="swiper-slide">@@include('../../uikit/BookItem/_index.html')</div>
                <div class="swiper-slide">@@include('../../uikit/BookItem/_index.html')</div>
                <div class="swiper-slide">@@include('../../uikit/BookItem/_index.html')</div>
                <div class="swiper-slide">@@include('../../uikit/BookItem/_index.html')</div>
            </div>
        </div>
    </div>
</section>