<section class="contacts bg bg-midnight-teal">
    <div class="contacts__top">
        <div class="contacts__container container">
            <div class="section-title">
                <h2 class="color color-white">Контакты</h2>
            </div>
            <div class="flex">
                <div class="contact-links">
    <h4 class="color color-white">Контакты</h4>
    <a href="" class="contact-link color color-white">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <use href="img/sprite.svg#location"></use>
        </svg>
        Крым, г. Алушта, ул. Набережная, 18
    </a>
    <a href="" class="contact-link color color-white">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <use href="img/sprite.svg#mail"></use>
        </svg>
        info@hotel-alush.ru
    </a>
    <a href="" class="contact-link color color-white">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <use href="img/sprite.svg#phone"></use>
        </svg>
        +7 (978) 888-88-88
    </a>
    <div class="soc">
        <a href="">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use href="img/sprite.svg#vk"></use>
            </svg>
        </a>
        <a href="">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use href="img/sprite.svg#telegram"></use>
            </svg>
        </a>
    </div>
</div>
                <form action="" class="callback-form">
    <h4 class="color color-white">Обратный звонок</h4>
    <label class="input-text">
        <input type="text" class="input border-color border-color-white" placeholder="Имя">
    </label>
    <label class="input-text">
        <input type="text" class="input border-color border-color-white" placeholder="Телефона">
    </label>
    <button class="button bg bg-golden-glow border-color border-color-golden-glow color color-deep-ocean">Отправить</button>
</form>
            </div>
        </div>
    </div>
    <div class="contacts__map">
        <div class="map">
            <iframe src="https://yandex.com/map-widget/v1/?ll=34.403050%2C44.653473&mode=whatshere&whatshere%5Bpoint%5D=34.403050%2C44.653473&whatshere%5Bzoom%5D=17&z=16"></iframe>
        </div>
    </div>
</section>