<section class="advantages">
    <div class="advantages__container container">
        <div class="section-title">
            <h2 class="color color-white">Наши удобства</h2>
        </div>
        <div class="grid">
            <div class="advantage-item bg bg-slate-ink">
                <div class="advantage-item__icon">
                    <svg width="120" height="120" viewBox="0 0 120 120">
                        <use href="img/sprite.svg#wifi"></use>
                    </svg>
                </div>
                <div class="advantage-item__text">
                    <p class="color color-white">Бесплатный Wi-Fi на всей территории</p>
                </div>
            </div>
            <div class="advantage-item bg bg-slate-ink">
                <div class="advantage-item__icon">
                    <svg width="120" height="120" viewBox="0 0 120 120">
                        <use href="img/sprite.svg#breakfast"></use>
                    </svg>
                </div>
                <div class="advantage-item__text">
                    <p class="color color-white">Вкусные завтраки включены</p>
                </div>
            </div>
            <div class="advantage-item bg bg-slate-ink">
                <div class="advantage-item__icon">
                    <svg width="120" height="120" viewBox="0 0 120 120">
                        <use href="img/sprite.svg#location-advantage"></use>
                    </svg>
                </div>
                <div class="advantage-item__text">
                    <p class="color color-white">Удобное расположение у побережья</p>
                </div>
            </div>
            <div class="advantage-item bg bg-slate-ink">
                <div class="advantage-item__icon">
                    <svg width="120" height="120" viewBox="0 0 120 120">
                        <use href="img/sprite.svg#room"></use>
                    </svg>
                </div>
                <div class="advantage-item__text">
                    <p class="color color-white">Уютные и современные номера</p>
                </div>
            </div>
        </div>
    </div>
</section>