<section class="book">
    <div class="book__container container">
        <div class="number-item bg bg-deep-ocean">
    <div class="number-item__image">
        <button class="slideprev bg bg-storm-black">
            <svg width="10" height="16" viewBox="0 0 10 16">
                <use href="img/sprite.svg#arrow-left"></use>
            </svg>              
        </button>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="img/image 4.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/image 4.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/image 4.png" alt="">
                </div>
            </div>
        </div>
        <button class="slidenext bg bg-storm-black">
            <svg width="10" height="16" viewBox="0 0 10 16">
                <use href="img/sprite.svg#arrow-right"></use>
            </svg>
        </button>
    </div>
    <div class="number-item__info">
        <h4><a href="" class="color color-white">ПРЕМИУМ +</a></h4>
        <div class="flex between gap-20">
            <ul class="number-item-info-advantages">
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Кровать Queen Size
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Диван-кровать
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Панорамный вид на море
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Кухня
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Техническое оснащение
                </li>
            </ul>
            <p class="description color color-white">
                комфортабельный номер с кроватью Queen Size, диваном-кроватью, кухней и техническим оснащением. Главное преимущество – панорамный вид на море.
            </p>
        </div>
        <div class="number-item__info-buttons flex">
            <button class="button bg bg-golden-glow border-color border-color-golden-glow color color-deep-ocean">Забронировать номер</button>
            <button class="button bg bg-midnight-teal border-color border-color-midnight-teal color color-white">Галерия</button>
        </div>
    </div>
</div> 
        <div class="book__form">
            
        </div>
    </div>
</section>