<section class="news-detail">
    <div class="news-detail__container container">
        <div class="news-detail__title">
            <h1>Прямой эфир. Старт проекта «Территория притяжения»</h1>
        </div>
        <div class="news-detail__content">
            <div class="news-detail__info">
                @@include('../../uikit/ShareItem/_index.html',{})
                <p>«Прямой эфир. Старт проекта „Территория притяжения“» прошёл 15 марта 2025 г. в 14:00.</p>
                <p>Команда проекта презентовала главные аспекты в реализации проекта, рассказала о возможностях для творческих людей в самореализации через участие в мастер-классах, выставках, конкурсах и других мероприятиях.</p>
                <p>Руководитель проекта «Территория притяжения» Юлия Данько представила визитку проекта, основные этапы реализации, перспективы развития и взаимодействия.</p>
                <p>О возможностях представления творчества талантливых земляков посредством участия в мастер-классах и выставках проекта рассказала Ольга Прилипко, координатор организационно-методического обеспечения проекта.</p>
                <p>Редактор проекта Елена Петрова представила номинации творческого конкурса для талантливых земляков. Положение о конкурсе можно прочитать на нашем сайте <a href="https://ivbiblio.ru/event/124152571"> по ссылке ivbiblio.ru/event/124152571</a></p>
                <p>О мотивации, как факторе успешной реализации проектов рассказал Михаил Петренко, координатор информационно-технического направления проекта.</p>
                <p>Наталья Адаменко осветила важность изучения вопросов краеведения и пожелала творческим людям успешной самореализации.</p>
                <h5>Гости эфира:</h5>
                <ul>
                    <li><p>Курако Александр, член Союза писателей России, председатель Амурской областной общественной писательской организации;</p></li>
                    <li><p>Иванова Наталия, заместитель директора по социально-культурной работе Амурской областной научной библиотеки имени Н.Н. Муравьёва-Амурского, куратор областного литературного конкурса «Земли родной талант и вдохновенье»;</p></li>
                    <li><p>Проскурякова Анна, заведующий отделом обслуживания централизованной библиотечной системы Архаринского округа Амурской области, руководитель литературно-музыкального клуба «Вдохновение»,</p></li>
                </ul>
                <p>— во время прямого включения поделились своими планами и новостями в литературной жизни Амурской области и России в целом.</p>
                <p>Запись прямого эфира можно просмотреть <a href=""> по ссылке</a>.</p>
                <p>Напомним, что Проект реализуется при поддержке Президентского фонда культурных инициатив. Подробная информация об участии в конкурсах размещена на сайте фондкультурныхинициатив.рф</p>
                <div class="flex">
                    <span class="date">Дата публикации 22.03.2025 г.</span>
                    <div class="likes">
                        <svg width="34" height="35" viewBox="0 0 34 35">
                            <use xlink:href="/img/sprite.svg#like-icon"></use>
                        </svg>
                        <span>5</span>
                    </div>
                </div>
            </div>
            <div class="news-detail__gallery">
                @@include('../../uikit/SwiperGallery/_index.html',{})
            </div>
        </div>
    </div>
</section>