<section class="main">
	<div class="main__container container">
		<div class="main__banner">
            <div class="main__banner-title">
                <h3>С праздником Великой Победы!</h3>
                <span>Мы поминим, мы гордимся!</span>
            </div>
            <div class="main__banner-event">
                <p>
                    <span>80</span>ЛЕТ ПОБЕДЫ!
                </p>
            </div>
            <div class="main__banner-years">
                <span>1945</span>
                <span class="icon">
                    <svg width="142" height="164" viewBox="0 0 142 164">
                        <use href="/img/sprite.svg#icon-flag"></use>
                    </svg>
                </span>
                <span>2025</span>
            </div>
        </div>
        <div class="main__content flex">
            <div class="main__content-left">
                <div class="main__swiper">
                    <button class="slideprev">
                        <svg width="32" height="32" viewBox="0 0 32 32">
                            <use href="/img/sprite.svg#prev-icon"></use>
                        </svg>
                    </button>
                    <button class="slidenext">
                        <svg width="32" height="32" viewBox="0 0 32 32">
                            <use href="/img/sprite.svg#next-icon"></use>
                        </svg>
                    </button>
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="main__swiper-item">
                                    <img src="/img/main-item-bg.png" alt="" class="bg-img">
                                    <div class="text">
                                        <h3>Посетите мероприятия библиотеки: выставки, лекции, конференции</h3>
                                        <p>Станьте частью интеллектуального сообщества!</p>
                                        <button class="button">
                                            Стать читателем
                                        </button>
                                    </div>
                                    <div class="img">
                                        <img src="/img/main-img.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="main__swiper-item">
                                    <img src="/img/main-item-bg.png" alt="" class="bg-img">
                                    <div class="text">
                                        <h3>Посетите мероприятия библиотеки: выставки, лекции, конференции</h3>
                                        <p>Станьте частью интеллектуального сообщества!</p>
                                        <button class="button">
                                            Стать читателем
                                        </button>
                                    </div>
                                    <div class="img">
                                        <img src="/img/main-img.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="main__swiper-item">
                                    <img src="/img/main-item-bg.png" alt="" class="bg-img">
                                    <div class="text">
                                        <h3>Посетите мероприятия библиотеки: выставки, лекции, конференции</h3>
                                        <p>Станьте частью интеллектуального сообщества!</p>
                                        <button class="button">
                                            Стать читателем
                                        </button>
                                    </div>
                                    <div class="img">
                                        <img src="/img/main-img.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="main__swiper-item">
                                    <img src="/img/main-item-bg.png" alt="" class="bg-img">
                                    <div class="text">
                                        <h3>Посетите мероприятия библиотеки: выставки, лекции, конференции</h3>
                                        <p>Станьте частью интеллектуального сообщества!</p>
                                        <button class="button">
                                            Стать читателем
                                        </button>
                                    </div>
                                    <div class="img">
                                        <img src="/img/main-img.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main__events">
                    <div class="main__events-title">
                        <h4>Афиша мероприятий</h4>
                        <a href="events.html">
                            Все мероприятия
                            <svg width="19" height="25" viewBox="0 0 19 25">
                                <use href="/img/sprite.svg#link-arrow-icon"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="grid">
                        @@include('../../uikit/EventItem/_index.html', {
                            "available": "12+",
                            "entrance": "Вход свободный",
                            "image": "image (1).png",
                            "title": "Выставка книг",
                            "date": "2025-05-01",
                            "time": "10:00",
                            "location": "Библиотека имени В.И. Ленина",
                            "description": "Выставка книг, посвященных Великой Отечественной войне"
                        })
                        @@include('../../uikit/EventItem/_index.html', {
                            "available": "12+",
                            "entrance": "Вход свободный",
                            "image": "image (1).png",
                            "title": "Выставка книг",
                            "date": "2025-05-01",
                            "time": "10:00",
                            "location": "Библиотека имени В.И. Ленина",
                            "description": "Выставка книг, посвященных Великой Отечественной войне"
                        })
                        @@include('../../uikit/EventItem/_index.html', {
                            "available": "12+",
                            "entrance": "Вход свободный",
                            "image": "image (1).png",
                            "title": "Выставка книг",
                            "date": "2025-05-01",
                            "time": "10:00",
                            "location": "Библиотека имени В.И. Ленина",
                            "description": "Выставка книг, посвященных Великой Отечественной войне"
                        })
                        @@include('../../uikit/EventItem/_index.html', {
                            "available": "12+",
                            "entrance": "Вход свободный",
                            "image": "image (1).png",
                            "title": "Выставка книг",
                            "date": "2025-05-01",
                            "time": "10:00",
                            "location": "Библиотека имени В.И. Ленина",
                            "description": "Выставка книг, посвященных Великой Отечественной войне"
                        })
                        @@include('../../uikit/EventItem/_index.html', {
                            "available": "12+",
                            "entrance": "Вход свободный",
                            "image": "image (1).png",
                            "title": "Выставка книг",
                            "date": "2025-05-01",
                            "time": "10:00",
                            "location": "Библиотека имени В.И. Ленина",
                            "description": "Выставка книг, посвященных Великой Отечественной войне"
                        })
                        @@include('../../uikit/EventItem/_index.html', {
                            "available": "12+",
                            "entrance": "Вход свободный",
                            "image": "image (1).png",
                            "title": "Выставка книг",
                            "date": "2025-05-01",
                            "time": "10:00",
                            "location": "Библиотека имени В.И. Ленина",
                            "description": "Выставка книг, посвященных Великой Отечественной войне"
                        })
                    </div>
                </div>
            </div>
            @@include('../LiberyToday/_index.html')
        </div>
	</div>
</section>