.events { 
    width: 100%;
    padding: 32px 20px 40px;
    .events__container { 
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
        @media(max-width: $md3) {
            flex-direction: column-reverse;
            gap: 32px;
        }
        .events__content { 
            width: 100%;
            max-width: 1128px;
            h1 {
                color: var(--Black-text, #22120A);
                font-family: Oswald;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 34px;
            }
            .events__list { 
                display: flex;
                flex-direction: column;
                gap: 24px;
                margin-bottom: 32px;
                @media(max-width: $md4) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 20px;
                }
                @media(max-width: $md5) {
                    grid-template-columns: repeat(1, 1fr);
                }
                .event-item { 
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 40px;
                    @media(max-width: $md1) {
                        gap: 20px;
                    }
                    @media(max-width: $md4) {
                        flex-direction: column;
                    }
                    .event-item__img { 
                        width: 100%;
                        max-width: 350px;
                        height: 250px;
                        margin: 0;
                        @media(max-width: $md1) {
                            max-width: 280px;
                        }
                        @media(max-width: $md4) {
                            max-width: 100%;
                        }
                    }
                    .event-item__content { 
                        h4 { 
                            margin-bottom: 20px;
                            @media(max-width: $md1) {
                                margin-bottom: 10px;
                            }
                        }

                        .event-item__description {
                            @media(max-width: $md1) {
                                font-size: 14px;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
