<section class="number-list">
    <div class="number-list__container container">
      <div class="section-title">
        <h1>Премиум +</h1>
      </div>
      <div class="number-list__result">
          <div class="number-item bg bg-deep-ocean">
    <div class="number-item__image">
        <button class="slideprev bg bg-storm-black">
            <svg width="10" height="16" viewBox="0 0 10 16">
                <use href="img/sprite.svg#arrow-left"></use>
            </svg>              
        </button>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="img/image 4.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/image 4.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/image 4.png" alt="">
                </div>
            </div>
        </div>
        <button class="slidenext bg bg-storm-black">
            <svg width="10" height="16" viewBox="0 0 10 16">
                <use href="img/sprite.svg#arrow-right"></use>
            </svg>
        </button>
    </div>
    <div class="number-item__info">
        <h4><a href="" class="color color-white">ПРЕМИУМ +</a></h4>
        <div class="flex between gap-20">
            <ul class="number-item-info-advantages">
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Кровать Queen Size
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Диван-кровать
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Панорамный вид на море
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Кухня
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Техническое оснащение
                </li>
            </ul>
            <p class="description color color-white">
                комфортабельный номер с кроватью Queen Size, диваном-кроватью, кухней и техническим оснащением. Главное преимущество – панорамный вид на море.
            </p>
        </div>
        <div class="number-item__info-buttons flex">
            <button class="button bg bg-golden-glow border-color border-color-golden-glow color color-deep-ocean">Забронировать номер</button>
            <button class="button bg bg-midnight-teal border-color border-color-midnight-teal color color-white">Галерия</button>
        </div>
    </div>
</div>
          <div class="number-item bg bg-deep-ocean">
    <div class="number-item__image">
        <button class="slideprev bg bg-storm-black">
            <svg width="10" height="16" viewBox="0 0 10 16">
                <use href="img/sprite.svg#arrow-left"></use>
            </svg>              
        </button>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="img/image 4.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/image 4.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/image 4.png" alt="">
                </div>
            </div>
        </div>
        <button class="slidenext bg bg-storm-black">
            <svg width="10" height="16" viewBox="0 0 10 16">
                <use href="img/sprite.svg#arrow-right"></use>
            </svg>
        </button>
    </div>
    <div class="number-item__info">
        <h4><a href="" class="color color-white">Премиум +</a></h4>
        <div class="flex between gap-20">
            <ul class="number-item-info-advantages">
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Кровать Queen Size
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Диван-кровать
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Панорамный вид на море
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Кухня
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Техническое оснащение
                </li>
            </ul>
            <p class="description color color-white">
                комфортабельный номер с кроватью Queen Size, диваном-кроватью, кухней и техническим оснащением. Главное преимущество – панорамный вид на море.
            </p>
        </div>
        <div class="number-item__info-buttons flex">
            <button class="button bg bg-golden-glow border-color border-color-golden-glow color color-deep-ocean">Забронировать номер</button>
            <button class="button bg bg-midnight-teal border-color border-color-midnight-teal color color-white">Галерия</button>
        </div>
    </div>
</div>
          <div class="number-item bg bg-deep-ocean">
    <div class="number-item__image">
        <button class="slideprev bg bg-storm-black">
            <svg width="10" height="16" viewBox="0 0 10 16">
                <use href="img/sprite.svg#arrow-left"></use>
            </svg>              
        </button>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="img/image 4.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/image 4.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/image 4.png" alt="">
                </div>
            </div>
        </div>
        <button class="slidenext bg bg-storm-black">
            <svg width="10" height="16" viewBox="0 0 10 16">
                <use href="img/sprite.svg#arrow-right"></use>
            </svg>
        </button>
    </div>
    <div class="number-item__info">
        <h4><a href="" class="color color-white">ПРЕМИУМ +</a></h4>
        <div class="flex between gap-20">
            <ul class="number-item-info-advantages">
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Кровать Queen Size
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Диван-кровать
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Панорамный вид на море
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Кухня
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Техническое оснащение
                </li>
            </ul>
            <p class="description color color-white">
                комфортабельный номер с кроватью Queen Size, диваном-кроватью, кухней и техническим оснащением. Главное преимущество – панорамный вид на море.
            </p>
        </div>
        <div class="number-item__info-buttons flex">
            <button class="button bg bg-golden-glow border-color border-color-golden-glow color color-deep-ocean">Забронировать номер</button>
            <button class="button bg bg-midnight-teal border-color border-color-midnight-teal color color-white">Галерия</button>
        </div>
    </div>
</div>
          <div class="number-item bg bg-deep-ocean">
    <div class="number-item__image">
        <button class="slideprev bg bg-storm-black">
            <svg width="10" height="16" viewBox="0 0 10 16">
                <use href="img/sprite.svg#arrow-left"></use>
            </svg>              
        </button>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="img/image 4.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/image 4.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/image 4.png" alt="">
                </div>
            </div>
        </div>
        <button class="slidenext bg bg-storm-black">
            <svg width="10" height="16" viewBox="0 0 10 16">
                <use href="img/sprite.svg#arrow-right"></use>
            </svg>
        </button>
    </div>
    <div class="number-item__info">
        <h4><a href="" class="color color-white">Премиум +</a></h4>
        <div class="flex between gap-20">
            <ul class="number-item-info-advantages">
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Кровать Queen Size
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Диван-кровать
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Панорамный вид на море
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Кухня
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Техническое оснащение
                </li>
            </ul>
            <p class="description color color-white">
                комфортабельный номер с кроватью Queen Size, диваном-кроватью, кухней и техническим оснащением. Главное преимущество – панорамный вид на море.
            </p>
        </div>
        <div class="number-item__info-buttons flex">
            <button class="button bg bg-golden-glow border-color border-color-golden-glow color color-deep-ocean">Забронировать номер</button>
            <button class="button bg bg-midnight-teal border-color border-color-midnight-teal color color-white">Галерия</button>
        </div>
    </div>
</div>
          <div class="number-item bg bg-deep-ocean">
    <div class="number-item__image">
        <button class="slideprev bg bg-storm-black">
            <svg width="10" height="16" viewBox="0 0 10 16">
                <use href="img/sprite.svg#arrow-left"></use>
            </svg>              
        </button>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="img/image 4.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/image 4.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/image 4.png" alt="">
                </div>
            </div>
        </div>
        <button class="slidenext bg bg-storm-black">
            <svg width="10" height="16" viewBox="0 0 10 16">
                <use href="img/sprite.svg#arrow-right"></use>
            </svg>
        </button>
    </div>
    <div class="number-item__info">
        <h4><a href="" class="color color-white">Премиум +</a></h4>
        <div class="flex between gap-20">
            <ul class="number-item-info-advantages">
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Кровать Queen Size
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Диван-кровать
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Панорамный вид на море
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Кухня
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Техническое оснащение
                </li>
            </ul>
            <p class="description color color-white">
                комфортабельный номер с кроватью Queen Size, диваном-кроватью, кухней и техническим оснащением. Главное преимущество – панорамный вид на море.
            </p>
        </div>
        <div class="number-item__info-buttons flex">
            <button class="button bg bg-golden-glow border-color border-color-golden-glow color color-deep-ocean">Забронировать номер</button>
            <button class="button bg bg-midnight-teal border-color border-color-midnight-teal color color-white">Галерия</button>
        </div>
    </div>
</div>
          <div class="number-item bg bg-deep-ocean">
    <div class="number-item__image">
        <button class="slideprev bg bg-storm-black">
            <svg width="10" height="16" viewBox="0 0 10 16">
                <use href="img/sprite.svg#arrow-left"></use>
            </svg>              
        </button>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="img/image 4.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/image 4.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/image 4.png" alt="">
                </div>
            </div>
        </div>
        <button class="slidenext bg bg-storm-black">
            <svg width="10" height="16" viewBox="0 0 10 16">
                <use href="img/sprite.svg#arrow-right"></use>
            </svg>
        </button>
    </div>
    <div class="number-item__info">
        <h4><a href="" class="color color-white">ПРЕМИУМ +</a></h4>
        <div class="flex between gap-20">
            <ul class="number-item-info-advantages">
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Кровать Queen Size
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Диван-кровать
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Панорамный вид на море
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Кухня
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Техническое оснащение
                </li>
            </ul>
            <p class="description color color-white">
                комфортабельный номер с кроватью Queen Size, диваном-кроватью, кухней и техническим оснащением. Главное преимущество – панорамный вид на море.
            </p>
        </div>
        <div class="number-item__info-buttons flex">
            <button class="button bg bg-golden-glow border-color border-color-golden-glow color color-deep-ocean">Забронировать номер</button>
            <button class="button bg bg-midnight-teal border-color border-color-midnight-teal color color-white">Галерия</button>
        </div>
    </div>
</div>
          <div class="number-item bg bg-deep-ocean">
    <div class="number-item__image">
        <button class="slideprev bg bg-storm-black">
            <svg width="10" height="16" viewBox="0 0 10 16">
                <use href="img/sprite.svg#arrow-left"></use>
            </svg>              
        </button>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="img/image 4.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/image 4.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/image 4.png" alt="">
                </div>
            </div>
        </div>
        <button class="slidenext bg bg-storm-black">
            <svg width="10" height="16" viewBox="0 0 10 16">
                <use href="img/sprite.svg#arrow-right"></use>
            </svg>
        </button>
    </div>
    <div class="number-item__info">
        <h4><a href="" class="color color-white">ПРЕМИУМ +</a></h4>
        <div class="flex between gap-20">
            <ul class="number-item-info-advantages">
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Кровать Queen Size
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Диван-кровать
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Панорамный вид на море
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Кухня
                </li>
                <li class="color color-white">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="img/sprite.svg#check-cicrle"></use>
                    </svg>
                    Техническое оснащение
                </li>
            </ul>
            <p class="description color color-white">
                комфортабельный номер с кроватью Queen Size, диваном-кроватью, кухней и техническим оснащением. Главное преимущество – панорамный вид на море.
            </p>
        </div>
        <div class="number-item__info-buttons flex">
            <button class="button bg bg-golden-glow border-color border-color-golden-glow color color-deep-ocean">Забронировать номер</button>
            <button class="button bg bg-midnight-teal border-color border-color-midnight-teal color color-white">Галерия</button>
        </div>
    </div>
</div>
      </div>
      <div class="pagination">
        <a class="prev bg bg-deep-ocean">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_78_649)">
              <path
                d="M3.84956 8.51445L11.1223 15.787C11.4063 16.071 11.8668 16.071 12.1508 15.7869C12.4348 15.5029 12.4348 15.0425 12.1507 14.7584L5.3923 8.00013L12.1508 1.24148C12.4348 0.957459 12.4348 0.497 12.1507 0.212976C12.0088 0.0709639 11.8226 -1.90735e-05 11.6365 -1.90735e-05C11.4504 -1.90735e-05 11.2642 0.0709639 11.1222 0.213024L3.84956 7.48594C3.71312 7.62233 3.63651 7.8073 3.63651 8.00017C3.63651 8.19305 3.71312 8.37807 3.84956 8.51445Z"
                fill="white"
              />
            </g>
            <defs>
              <clipPath id="clip0_78_649">
                <rect
                  width="16"
                  height="16"
                  fill="white"
                  transform="matrix(-1 0 0 -1 16 16)"
                />
              </clipPath>
            </defs>
          </svg>
        </a>
        <div class="pages">
          <a href="" class="color color-deep-ocean bg bg-golden-glow">1</a>
          <a href="" class="color color-white bg bg-deep-ocean">2</a>
          <a href="" class="color color-white bg bg-deep-ocean">3</a>
        </div>
        <a class="next bg bg-deep-ocean">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_78_666)">
              <path
                d="M12.1504 7.48555L4.87772 0.213012C4.59374 -0.0710121 4.13323 -0.0710121 3.84921 0.213061C3.56523 0.497085 3.56523 0.957546 3.84925 1.24157L10.6077 7.99987L3.84921 14.7585C3.56523 15.0425 3.56523 15.503 3.84925 15.787C3.99122 15.929 4.17735 16 4.36349 16C4.54962 16 4.73575 15.929 4.87776 15.787L12.1504 8.51406C12.2869 8.37767 12.3635 8.1927 12.3635 7.99983C12.3635 7.80695 12.2869 7.62193 12.1504 7.48555Z"
                fill="white"
              />
            </g>
            <defs>
              <clipPath id="clip0_78_666">
                <rect width="16" height="16" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </a>
      </div>
    </div>
  </section>
  