<section class="order-book">
    <div class="order-book__container container">
        <div class="order-book__title">
            <h2>Заказать книгу</h2>
            <p>Чтобы рассчитать стоимость тиража свяжитесь с нами или заполните форму обратной связи.</p>
        </div>
        <form action="">
            <div class="grid">
                <label for="" class="input-text">
                    <span class="input-title">Ваше имя *</span>
                    <input type="text" class="input" placeholder="Иван Иванов">
                </label>
                <label for="" class="input-text">
                    <span class="input-title">Тип бумаги *</span>
                    <select name="" id="" class="input">
                        <option value="">Выберите бумагу</option>
                    </select>
                </label>
                <label for="" class="input-text">
                    <span class="input-title">Формат книги *</span>
                    <select name="" id="" class="input">
                        <option value="">Выберите формат</option>
                    </select>
                </label>
                <label for="" class="input-text">
                    <span class="input-title">Контактный телефон *</span>
                    <input type="text" class="input phone-mask" placeholder="+79160353400">
                </label>
                <label for="" class="input-text">
                    <span class="input-title">Количество черно-белых страниц *</span>
                    <input type="number" class="input" value="0">
                </label>
                <label for="" class="input-text">
                    <span class="input-title">Тип обложки *</span>
                    <select name="" id="" class="input">
                        <option value="">Выберите обложку</option>
                    </select>
                </label>
                <label for="" class="input-text">
                    <span class="input-title">Электронная почта *</span>
                    <input type="email" class="input" placeholder="ivanov@mail.ru">
                </label>
                <label for="" class="input-text">
                    <span class="input-title">Общий тираж *</span>
                    <input type="number" class="input" value="0">
                </label>
                <label for="" class="input-text">
                    <span class="input-title">Количество цветных страниц *</span>
                    <input type="number" class="input" value="0">
                </label>
            </div>
            <div class="order-book__bottom">
                <div class="order-book__bottom-content">
                    <span class="total-price">Стоимость тиража:
                        <span>180000 руб.</span>
                    </span>
                    <button type="submit" class="button">Получить расчет</button>
                    <label class="checkbox">
                        <input type="checkbox" name="agreement" id="agreement">
                        <span class="checkbox-span"></span>
                        <span class="checkbox-text">Я согласен на обработку персональных данных и с условиями политики конфиденциальности</span>
                    </label>
                </div>
            </div>
        </form>
    </div>
</section> 