<section class="productions">
    <div class="productions__container container">
        <h2>Произведения</h2>
        <div class="swiper">
            <div class="swiper-wrapper">    
                <div class="swiper-slide">
                    @@include("../../uikit/ProductionItem/_index.html")
                </div>
                <div class="swiper-slide">
                    @@include("../../uikit/ProductionItem/_index.html")
                </div>
                <div class="swiper-slide">
                    @@include("../../uikit/ProductionItem/_index.html")
                </div>
                <div class="swiper-slide">
                    @@include("../../uikit/ProductionItem/_index.html")
                </div>
                <div class="swiper-slide">
                    @@include("../../uikit/ProductionItem/_index.html")
                </div>
                <div class="swiper-slide">
                    @@include("../../uikit/ProductionItem/_index.html")
                </div>
            </div>
        </div>
    </div>
</section>