<section class="how-to-join">
    <div class="how-to-join__container container">
        <div class="how-to-join__content">
            <h1>Как записаться в библиотеку?</h1>
            <div class="how-to-join__map">
                <iframe src="https://yandex.com/map-widget/v1/?ll=128.004978%2C50.364317&mode=whatshere&whatshere%5Bpoint%5D=128.004978%2C50.364317&whatshere%5Bzoom%5D=17&z=16"></iframe>
            </div>
            <div class="how-to-join__item">
                <h3>Где записаться</h3>
                <p>676930 Амурская область, Ивановский муниципальный округ, с. Ивановка, ул. Ленина, 164.</p>
            </div>
            <div class="how-to-join__item">
                <h3>График работы</h3>
                <ul>
                    <li><p>понедельник-пятница с 09:00–17:00.</p></li>
                    <li><p>суббота, воскресенье с 10:00–17:00.</p></li>
                    <li><p>последняя среда месяца — санитарный день</p></li>
                </ul>
            </div>
            <div class="how-to-join__item">
                <h3>Читательский билет</h3>
                <p>Читателем библиотеки может стать каждый гражданин Российской Федерации или другого государства с 14 лет.</p>
            </div>
            <div class="how-to-join__item">
                <h4>С читательским билетом вы можете:</h4>
                <ul>
                    <li>
                        <p>Брать книги на дом;</p>
                    </li>
                    <li>
                        <p>Работать с изданиями в читальном зале;</p>
                    </li>
                    <li>
                        <p>Пользоваться электронными ресурсами;</p>
                    </li>
                    <li>
                        <p>Работать за компьютерами в читальном зале;</p>
                    </li>
                    <li>
                        <p>Пользоваться Wi-Fi.</p>
                    </li>
                </ul>
            </div>
            <div class="how-to-join__item">
                <h4>Порядок выдачи документов:</h4>
                <ul>
                    <li>
                        <p>На дом можно получить не более 5 книг и иных материалов на срок до 30 дней для взрослых и 15 дней для детей;</p>
                    </li>
                    <li>
                        <p>Срок пользования документами можно продлить, если на них нет спроса другими читателями (через форму на сайте, лично, по телефону или в письменном виде, но не более 2 раз);</p>
                    </li>
                    <li>
                        <p>При нарушении срока возврата документов по истечении месяца со дня записи их в читательский формуляр взимается пеня в установленном порядке;</p>
                    </li>
                    <li>
                        <p>В случае утери электронного читательского билета, восстановление документа стоит 150 рублей;</p>
                    </li>
                    <li>
                        <p>При несвоевременном возврате книг необходимо вернуть их в течение 7 календарных дней, иначе будет ограничена выдача новых изданий и начислена компенсация в размере 1 руб/сутки.</p>
                    </li>
                </ul>
            </div>
            <div class="how-to-join__item">
                <h4>Что вы можете сделать даже без читательского билета:</h4>
                <ul>
                    <li>
                        <p>Найти нужную вам литературу;</p>
                    </li>
                    <li>
                        <p>Электронный каталог;</p>
                    </li>
                    <li>
                        <p>Электронная библиотека;</p>
                    </li>
                    <li>
                        <p>Попасть на интересное событие;</p>
                    </li>
                    <li>
                        <p>Почти каждый день в библиотеке происходит что‑то интересное.</p>
                    </li>
                </ul>
            </div>
            <div class="how-to-join__item">
                <h4>Узнать о мероприятия можно тремя способами: </h4>
                <ul>
                    <li>
                        <p>Посмотреть афишу в календаре;</p>
                    </li>
                    <li>
                        <p>Подружиться с нами в соцсетях;</p>
                    </li>
                    <li>
                        <p>Подписаться на нашу рассылку.</p>
                    </li>
                </ul>
            </div>
            <div class="how-to-join__item">
                <h3>Необходимые документы</h3>
                <ul>
                    <li>
                        <p>Граждане РФ (нужен паспорт);</p>
                    </li>
                    <li>
                        <p>Граждане иностранных государств (нужен паспорт или справка, подтверждающая личность);</p>
                    </li>
                    <li>
                        <p>Дети до 14 лет могут записаться в присутствии родителей, опекунов или попечителей.</p>
                    </li>
                </ul>
            </div>
            <div class="how-to-join__item">
                <h3>Записаться удалённо</h3>
                <ul>
                    <li>
                        <p>Услуга удалённой записи предоставляется гражданам Российской Федерации*;</p>
                    </li>
                    <li>
                        <p>* В соответствии с Порядком удалённой записи в Центральную библиотеку "Интеллект";</p>
                    </li>
                    <li>
                        <p>Оформление и выдача электронного читательского билета бесплатны;</p>
                    </li>
                    <li>
                        <p>Требуется наличие подтверждённой учётной записи на портале «Госуслуги»;</p>
                    </li>
                    <li>
                        <p>Для получения электронного читательского билета необходимо:</p>
                    </li>
                    <li>
                        <p>Зарегистрироваться на сайте в Личном кабинете пользователя;</p>
                    </li>
                    <li>
                        <p>Авторизоваться на портале «Госуслуги» с использованием подтверждённой учётной записи;</p>
                    </li>
                    <li>
                        <p>Согласиться с предоставлением информации в Личном кабинете пользователя;</p>
                    </li>
                    <li>
                        <p>Получить подтверждение об успешном окончании процедуры.</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="libery-today">
    <div class="libery-today__title">
        <h4>Библиотека сегодня</h4>
    </div>
    <div class="libery-today__content">
        <div class="libery-today__item">
            <div class="overlay">
                <img src="/img/Property 1=Variant2.png" alt="">
            </div>
            <span class="icon">
                <svg width="110" height="110" viewBox="0 0 110 110" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M62.4542 12.604H48.349C46.7011 12.604 45.3652 13.9399 45.3652 15.5878V93.8092C45.3652 95.4571 46.7011 96.793 48.349 96.793H62.4542C64.1021 96.793 65.4379 95.4571 65.4379 93.8092V15.5878C65.4379 13.9399 64.1021 12.604 62.4542 12.604Z" stroke="#6992D8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M80.1245 33.3424L69.7046 35.1797C68.4881 35.3942 67.6758 36.5543 67.8903 37.7708L78.0781 95.5484C78.2926 96.7649 79.4527 97.5772 80.6692 97.3627L91.0891 95.5254C92.3056 95.3109 93.1179 94.1509 92.9034 92.9343L82.7156 35.1567C82.5011 33.9402 81.341 33.1279 80.1245 33.3424Z" stroke="#6992D8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M69.4922 44.8755L74.4032 44.0093" stroke="#6992D8" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M45.3652 87.1451H65.4379M45.3652 81.3335H65.4379M45.3675 76.042H65.4379" stroke="#6992D8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M28.7133 26.9449L17.1071 91.8721C16.8171 93.4943 17.8971 95.0444 19.5192 95.3344L29.5625 97.1297C31.1847 97.4197 32.7348 96.3397 33.0248 94.7175L44.631 29.7903C44.921 28.1681 43.841 26.618 42.2188 26.328L32.1755 24.5327C30.5534 24.2428 29.0033 25.3227 28.7133 26.9449Z" stroke="#6992D8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M26.666 39.0845L41.4862 41.7291" stroke="#6992D8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
            <h5>Библиотечный киоск</h5>
            <p>У нас в киоске: книги, подарки, товары для чтения</p>
        </div>
        <div class="libery-today__item">
            <div class="overlay">
                <img src="/img/Property 1=Hover (2).png" alt="">
            </div>
            <span class="icon">
                <svg width="110" height="110" viewBox="0 0 110 110" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M89.8585 26.6729L93.7017 26.1825C96.211 25.8616 99.6875 28.3206 99.6875 30.8529V80.8341C99.6875 84.6429 97.4806 85.7979 92.8698 86.4968L55 92.0977L17.1302 86.4968C12.5194 85.7979 10.3125 84.6429 10.3125 80.8341V30.8529C10.3125 28.3206 13.789 25.8593 16.2983 26.1825L19.014 26.5285M84.3425 78.5997C87.3698 77.7702 89.8608 75.7947 89.8608 70.9639V23.2697C89.8608 19.4656 87.3858 16.9333 81.4573 18.3243L54.434 24.6562L27.4152 18.3243C21.505 16.8393 19.0094 19.4656 19.0094 23.2697V70.9639C19.0094 75.7947 21.5004 77.7702 24.5277 78.5997L54.434 86.7902L84.3425 78.5997Z" stroke="#6992D8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
            <h5>Издательство</h5>
            <p>Поможем вам издать вашу книгу: от рукописи до готового тиража. А так же:</p>
            <ul>
                <li>
                    <p>Ксерокопирование;</p>
                </li>
                <li>
                    <p>Печать, брошюр, визиток;</p>
                </li>
                <li>
                    <p>Сканирование;</p>
                </li>
                <li>
                    <p>Распечатка с электронных носителей;</p>
                </li>
                <li>
                    <p>Ламинирование</p>
                </li>
            </ul>
        </div>
        <div class="libery-today__item">
            <div class="overlay">
                <img src="/img/Property 1=hover (1).png" alt="">
            </div>
            <span class="icon">
                <svg width="110" height="111" viewBox="0 0 110 111" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M30.5003 74.2831C39.6693 69.576 50.9534 65.5312 59.577 62.9531M36.1561 61.7844C41.7111 59.9969 47.1722 57.5448 52.6791 57.0269M36.1561 61.7844C26.2126 64.9881 23.0822 70.2314 30.498 74.2831C19.5324 79.9092 11.5872 86.4908 14.823 92.6508C21.242 104.863 66.8943 93.996 89.7605 73.7515C104.402 60.7852 90.1684 51.0342 75.417 58.2002M36.1561 61.7844C31.252 58.0215 38.127 53.4312 47.3578 51.4283C47.6328 48.7471 47.5732 46.0429 47.1722 43.38M47.1722 43.38C46.8079 40.9412 46.1173 38.5626 45.1189 36.3079M47.1722 43.38C23.5841 57.8358 18.7005 32.9071 32.7209 20.6971C49.8534 5.77832 69.5366 13.9504 54.6361 33.0881" stroke="#6992D8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
            <h5>Игромания</h5>
            <p>Разнообразные игры для каждого — от классики настольных игр до современных PS5</p>
        </div>
        <div class="libery-today__item">
            <div class="overlay">
                <img src="/img/Property 1=Hover (3).png" alt="">
            </div>
            <span class="icon">
                <svg width="110" height="111" viewBox="0 0 110 111" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 73.8446L69.928 74.6943C66.9847 68.8722 58.8702 65.952 53.097 73.9213C38.8266 71.0195 29.9122 65.3385 3 75.3906C5.90636 71.0563 6.53726 66.2802 7.38989 61.5532L37.1952 60.3906" stroke="#6992D8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M73 26.3385C70.6382 25.1504 68.9222 24.7386 63.7003 20.1098C68.3106 30.66 64.5807 48.8392 59.7622 68.6564M53.7285 36.3184C53.3041 31.376 53.0774 26.6047 50.0803 19.3906C45.4331 21.2282 40.5381 20.4235 35.7302 20.509C48.417 31.8576 51.7937 51.4815 56.7071 69.7368M40.1823 45.2623L26.4964 29.7697L16 40.472C31.7103 45.7914 43.9544 57.1526 54.543 71.3906" stroke="#6992D8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
            <h5>Библиотечные туры</h5>
            <p>Разнообразные игры для каждого — от классики настольных игр до современных PS5</p>
        </div>
        <div class="libery-today__item">
            <div class="overlay">
                <img src="/img/Property 1=Hover.png" alt="">
            </div>
            <span class="icon">
                <svg width="110" height="111" viewBox="0 0 110 111" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.5825 33.0767C16.9572 33.4246 15.4917 34.2981 14.4123 35.5621C13.3329 36.8261 12.6997 38.4103 12.6105 40.0701C12.5213 41.7298 12.9811 43.3728 13.9189 44.7452C14.8566 46.1175 16.2201 47.143 17.7988 47.6631L57.3461 59.2085L97.3952 47.7685" stroke="#6992D8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18.5825 47.9565C16.9572 48.3045 15.4917 49.178 14.4123 50.4419C13.3329 51.7059 12.6997 53.2902 12.6105 54.9499C12.5213 56.6097 12.9811 58.2527 13.9189 59.625C14.8566 60.9974 16.2201 62.0229 17.7988 62.543L57.3461 74.0884L97.3952 62.6484" stroke="#6992D8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18.5822 62.9991C16.9578 63.3478 15.4934 64.2215 14.4148 65.4852C13.3363 66.7489 12.7036 68.3325 12.6144 69.9915C12.5253 71.6505 12.9846 73.2928 13.9215 74.6648C14.8584 76.0369 16.2208 77.0624 17.7985 77.5832L57.3458 89.1287L97.3949 77.6887V33.008M97.3949 33.008L57.3458 21.6528L18.5204 33.0493L57.3458 44.448L97.3949 33.008Z" stroke="#6992D8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
            <h5>Рабочее пространство</h5>
            <p>Командная работа, генерация идей и воплощение проектов в библиотеке. Библиотека — это не только книги, но и помощь в развитии бизнеса! Предоставляем рабочее пространство и консультации</p>
        </div>
    </div>
    <button class="togle-libery-today">
        <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="16.1181" cy="16.1173" r="15.5" transform="rotate(89.5785 16.1181 16.1173)" fill="white" stroke="#ECE9E9"/>
            <path d="M19.3124 15.2942L16.136 18.5177L12.9126 15.3413" stroke="#0C49B1" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>            
    </button>
</div>
    </div>
</section>